.container {
	border: 3px solid lightgrey;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.box {
	width: 5rem;
	height: 5rem;
	background: gold;
	margin: 1rem;
}
.red {
	background: tomato;
	position: fixed;
	top: 0;
	left: 2rem;
	right: 2rem;
	z-index: 9999;
	width: auto;
}
.blue {
	background: dodgerblue;
}
.green {
	background: greenyellow;
}
.boxes {
	border: 3px solid lightgrey;
	position: relative;
}
.tweet {
	border: 3px solid lightcoral;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.avatar {
	width: 5rem;
	height: 5rem;
	background-color: gold;
	float: left;
	margin-right: 10px;
}
.clear {
	clear: both;
}
